<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment = "commonHead(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <title th:text="${title}">Title</title>
	<Link rel="Shortcut Icon" href="/static/img/app.ico" type="image/x-icon"/ th:href="@{/static/img/app.ico}"/>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.min.css" th:href="@{/static/plugins/fontawesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css" th:href="@{/static/dist/css/skins/skin-blue.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/datatables/css/dataTables.bootstrap.min.css" th:href="@{/static/plugins/datatables/css/dataTables.bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker-bs3.css" th:href="@{/static/plugins/daterangepicker/daterangepicker-bs3.css}"/>
	<link rel="stylesheet" href="/static/plugins/colorpicker/bootstrap-colorpicker.css" th:href="@{/static/plugins/colorpicker/bootstrap-colorpicker.css}"/>
	<link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css"  th:href="@{/static/plugins/datepicker/datepicker3.css}"/>
	<link rel="stylesheet" href="/static/plugins/webupload/webuploader.css" th:href="@{/static/plugins/webupload/webuploader.css}"/>
	<link rel="stylesheet" href="/static/plugins/simditor/styles/simditor.css" th:href="@{/static/plugins/simditor/styles/simditor.css}"/>
	<link rel="stylesheet" href="/static/plugins/fullcalendar/fullcalendar.min.css" th:href="@{/static/plugins/fullcalendar/fullcalendar.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/fullcalendar/jquery-ui.css" th:href="@{/static/plugins/fullcalendar/jquery-ui.css}"/>
	<link rel="stylesheet" href="/static/plugins/iCheck/square/blue.css" th:href="@{/static/plugins/iCheck/square/blue.css}"/>
	<link rel="stylesheet" href="/static/css/formgrid.css" th:href="@{/static/css/formgrid.css}"/>
	<script th:inline="javascript" src="/static/plugins/jQuery/jQuery-2.2.0.min.js" th:src="@{/static/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
	<script th:inline="javascript" src="/static/bootstrap/js/bootstrap.min.js" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript" src="/static/dist/js/app.min.js" th:src="@{/static/dist/js/app.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/datatables/js/jquery.dataTables.min.js" th:src="@{/static/plugins/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/datatables/js/dataTables.bootstrap.min.js" th:src="@{/static/plugins/datatables/js/dataTables.bootstrap.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/validate/jquery.validate.min.js" th:src="@{/static/plugins/validate/jquery.validate.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/moment/moment.min.js" th:src="@{/static/plugins/moment/moment.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/echart/echarts.min.js" th:src="@{/static/plugins/echart/echarts.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/daterangepicker/daterangepicker.js" th:src="@{/static/plugins/daterangepicker/daterangepicker.js}"></script>
	<script th:inline="javascript" src="/static/plugins/datepicker/bootstrap-datepicker.js" th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<script th:inline="javascript" src="/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
	<script th:inline="javascript" src="/static/plugins/colorpicker/bootstrap-colorpicker.min.js" th:src="@{/static/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/webupload/webuploader.min.js" th:src="@{/static/plugins/webupload/webuploader.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/simditor/scripts/module.min.js" th:src="@{/static/plugins/simditor/scripts/module.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/simditor/scripts/hotkeys.min.js" th:src="@{/static/plugins/simditor/scripts/hotkeys.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/simditor/scripts/uploader.min.js" th:src="@{/static/plugins/simditor/scripts/uploader.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/simditor/scripts/simditor.min.js" th:src="@{/static/plugins/simditor/scripts/simditor.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/timeago/timeago.js" th:src="@{/static/plugins/timeago/timeago.js}"></script>
	<script th:inline="javascript" src="/static/plugins/timeago/timeago_zh_cn.js" th:src="@{/static/plugins/timeago/timeago_zh_cn.js}"></script>
	<script th:inline="javascript" src="/static/plugins/jQueryUI/jquery-ui.min.js" th:src="@{/static/plugins/jQueryUI/jquery-ui.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/fullcalendar/fullcalendar.min.js" th:src="@{/static/plugins/fullcalendar/fullcalendar.min.js}"></script>
	<script th:inline="javascript" src="/static/plugins/fullcalendar/lang-all.js" th:src="@{/static/plugins/fullcalendar/lang-all.js}"></script>
	<script th:inline="javascript" src="/static/plugins/iCheck/icheck.min.js" th:src="@{/static/plugins/iCheck/icheck.min.js}"></script>
</head>
</html>