<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment = "commonHead(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <title th:text="${title}">Title</title>
	<Link rel="Shortcut Icon" href="/static/img/app.ico" type="image/x-icon"/ th:href="@{/static/img/app.ico}"/>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.min.css" th:href="@{/static/plugins/fontawesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css" th:href="@{/static/dist/css/skins/skin-blue.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/datatables/css/dataTables.bootstrap.min.css" th:href="@{/static/plugins/datatables/css/dataTables.bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker-bs3.css" th:href="@{/static/plugins/daterangepicker/daterangepicker-bs3.css}"/>
	<link rel="stylesheet" href="/static/plugins/colorpicker/bootstrap-colorpicker.css" th:href="@{/static/plugins/colorpicker/bootstrap-colorpicker.css}"/>
	<link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css"  th:href="@{/static/plugins/datepicker/datepicker3.css}"/>
	<link rel="stylesheet" href="/static/plugins/webupload/webuploader.css" th:href="@{/static/plugins/webupload/webuploader.css}"/>
	<link rel="stylesheet" href="/static/plugins/simditor/styles/simditor.css" th:href="@{/static/plugins/simditor/styles/simditor.css}"/>
	<link rel="stylesheet" href="/static/plugins/fullcalendar/fullcalendar.min.css" th:href="@{/static/plugins/fullcalendar/fullcalendar.min.css}"/>
	<link rel="stylesheet" href="/static/plugins/fullcalendar/jquery-ui.css" th:href="@{/static/plugins/fullcalendar/jquery-ui.css}"/>
	<link rel="stylesheet" href="/static/plugins/iCheck/square/blue.css" th:href="@{/static/plugins/iCheck/square/blue.css}"/>
	<link rel="stylesheet" href="/static/css/formgrid.css" th:href="@{/static/css/formgrid.css}"/>
</head>
</html>