<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>营销型装饰装修展柜制作类网站织梦模板(带手机端)</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="order by dede58.com" />
<link href="/static/skin/images/longhua.css" rel="stylesheet" type="text/css">
<script src="/static/skin/images/jquery-1.8.3.js"></script>
<script language="javascript" type="text/javascript" src="/static/skin/images/ss.js"></script>
<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/index.php">
<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/static/m/index.php";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
</head>
<body>
<div class="h-top">
  <div class="header">
    <p class="fl">欢迎来到广州某某装饰工程有限公司！</p>
    <div class="top-right"> <a href="/static/a/guanyuwomen/index.html"  title="关于我们">关于我们</a>| <a href="/static/a/wangzhanditu/"  title="网站地图">网站地图</a>| <a href="/static/a/lianxiwomen/"  title="联系我们">联系我们</a> </div>
  </div>
</div>
<div class="h-con">
  <h1><a href="" title="营销型装饰装修展柜制作类网站织梦模板(带手机端)"> <img src="/static/skin/images/logo.png"></a></h1>
  <div class="h-bt"><img src="/static/skin/images/xuan.png"></div>
  <div class="h-pho">某某装饰服务热线<span>020-66889888</span> </div>
</div>
<div class="nav-box">
  <div class="nav">
    <ul>
      <li><a href="/static/"  class='n-cur' >公司首页</a></li>
      
      <li><a href="/static/a/guanyuwomen/index.html">关于我们</a></li>
      
      <li><a href="/static/a/xinwenzixun/">新闻资讯</a></li>
      
      <li><a href="/static/a/cpzx/">产品中心</a></li>
      
      <li><a href="/static/a/fa/">解决方案</a></li>
      
      <li><a href="/static/a/case/">经典案例</a></li>
      
      <li><a href="/static/a/job/">人才招聘</a></li>
      
      <li><a href="/static/a/lianxiwomen/">联系我们</a></li>
      
    </ul>
  </div>
</div>
<div class="nav-banner">
  <div class="banner">
    <ul>
      <li><img src="/static/uploads/allimg/170108/1-1F10Q42G80-L.jpg"  alt="幻灯3" title="幻灯3"/static/></li>
<li><img src="/static/uploads/allimg/170108/1-1F10Q42G80-L.jpg"  alt="幻灯2" title="幻灯2"/static/></li>
<li><img src="/static/uploads/allimg/170108/1-1F10Q42G80-L.jpg"  alt="幻灯1" title="幻灯1"/static/></li>

    </ul>
    <div class="small"> <a></a> <a></a> <a class="small_s"></a> </div>
  </div>
</div>
<script type="text/javascript">
var  n=0;
$(".banner ul li").hide().eq(0).show();
$(".small a").mouseover(function(){
	var n=$(".small a").index(this);
	
	$(".banner ul li").hide();
	$(".banner ul li:eq("+n+")").show();
	$(".small a").removeClass("small_s")
	$(this).addClass("small_s")
	})
function changeImg(){
	if(n<$(".banner ul li").length-1){
			n=n+1;
		}else{
			n=0;
		}
	$(".banner ul li").hide();
	$(".banner ul li:eq("+n+")").show();
	$(".small a").removeClass("small_s");
	$(".small a:eq("+n+")").addClass("small_s");
}
var timer = setInterval(changeImg,2000);
$(".banner").mouseover(function(){
	clearInterval(timer)
	}).mouseout(function(){
		timer =setInterval(changeImg,2000)
		})

</script>
<div class="s-bg">
  <div class="h-ser">
    <p> <b>热门关键词：</b> 　<a href='/plus/search.php?keyword=sdf'>sdf</a> 　<a href='/plus/search.php?keyword=8.6%E4%B8%87'>8.6万</a>  </p>
    <div class="s-inp">
      <form action="/static/plus/search.php" method="post">
        <input type="hidden" name="kwtype" value="0" />
        <input type="text" class="inp01" id="seachkeywords" value="请输入关键词" name="q" onclick="this.value=''">
        <input type="image" src="/static/skin/images/s_ss.gif" class="fl" value="submit">
      </form>
    </div>
  </div>
</div>
<div class="he-box">
  <h2></h2>
  <div class="he-b">
    <div class="mr_box">
      <div class="he">
        <ul>
          <li><a href="/static/a/guanyuwomen/hzhb/74.html" title="腾讯"><img src="/static/uploads/allimg/170108/1-1F10Q43K00-L.jpg"  alt="腾讯" title="腾讯"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/73.html" title="搜狐"><img src="/static/uploads/allimg/170108/1-1F10Q43I30-L.jpg"  alt="搜狐" title="搜狐"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/72.html" title="糯米"><img src="/static/uploads/allimg/170108/1-1F10Q43F70-L.jpg"  alt="糯米" title="糯米"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/71.html" title="京东"><img src="/static/uploads/allimg/170108/1-1F10Q43A30-L.jpg"  alt="京东" title="京东"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/70.html" title="当当网"><img src="/static/uploads/allimg/170108/1-1F10Q436390-L.jpg"  alt="当当网" title="当当网"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/69.html" title="百度"><img src="/static/uploads/allimg/170108/1-1F10Q436250-L.jpg"  alt="百度" title="百度"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/68.html" title="360"><img src="/static/uploads/allimg/170108/1-1F10Q436100-L.jpg"  alt="360" title="360"/static/></a></li>
<li><a href="/static/a/guanyuwomen/hzhb/67.html" title="一号店"><img src="/static/uploads/allimg/170108/1-1F10Q435550-L.jpg"  alt="一号店" title="一号店"/static/></a></li>

        </ul>
      </div>
    </div>
    <script language="javascript">
         jQuery(".he-b  .mr_box").slide({titCell:"",mainCell:".he ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});
        </script> 
  </div>
</div>
<div class="pro-box">
  <h2></h2>
  <div class="product">
    <div class="pro-left">
      <dl>
        <dt>
          <h3></h3>
        </dt>
        
        <dd><a href="/static/a/cpzx/cp1/">产品分类一</a></dd>
        
        <dd><a href="/static/a/cpzx/cp2/">产品分类二</a></dd>
        
        <dd><a href="/static/a/cpzx/cp3/">产品分类三</a></dd>
        
        <dd><a href="/static/a/cpzx/cp4/">产品分类四</a></dd>
        
        <dd><a href="/static/a/cpzx/cp5/">产品分类五</a></dd>
        
        <dd><a href="/static/a/cpzx/cp6/">产品分类六</a></dd>
        
      </dl>
    </div>
    <div class="pro-right">
      <ul>
        <li><a href="/static/a/cpzx/cp4/57.html" title="天津万达广场"><img src="/static/uploads/allimg/160919/1-1609191433140-L.jpg"  alt="天津万达广场" title="天津万达广场"/static/><span>天津万达广场</span></a></li>
<li><a href="/static/a/cpzx/cp4/56.html" title="北京紫御华府"><img src="/static/uploads/allimg/160919/1-1609191432470-L.jpg"  alt="北京紫御华府" title="北京紫御华府"/static/><span>北京紫御华府</span></a></li>
<li><a href="/static/a/cpzx/cp4/55.html" title="广西国际金融中心"><img src="/static/uploads/allimg/160919/1-1609191432340-L.jpg"  alt="广西国际金融中心" title="广西国际金融中心"/static/><span>广西国际金融中心</span></a></li>
<li><a href="/static/a/cpzx/cp3/54.html" title="成都通威国际中心"><img src="/static/uploads/allimg/160919/1-1609191430120-L.jpg"  alt="成都通威国际中心" title="成都通威国际中心"/static/><span>成都通威国际中心</span></a></li>
<li><a href="/static/a/cpzx/cp3/53.html" title="广州日航酒店"><img src="/static/uploads/allimg/160919/1-1609191429410-L.jpg"  alt="广州日航酒店" title="广州日航酒店"/static/><span>广州日航酒店</span></a></li>
<li><a href="/static/a/cpzx/cp3/52.html" title="香港永远盛开的紫荆花"><img src="/static/uploads/allimg/160919/1-160919142P80-L.jpg"  alt="香港永远盛开的紫荆花" title="香港永远盛开的紫荆花"/static/><span>香港永远盛开的紫荆花</span></a></li>

      </ul>
    </div>
  </div>
</div>
<div class="tong1-box">
  <div class="tong1">
    <div class="t1"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=12345678&amp;site=qq&amp;menu=yes"></a> </div>
  </div>
</div>
<div class="you-box">
  <div class="you-b">
    <div class="youshi">
      <dl class="you01">
        <dt><img src="/static/skin/images/you01.png"></dt>
        <dd>多年来专注于商展一站式服务，并辐射周围相关产品，品图已发展成为立足于北京，服务全国的多元化复合性商展装饰装修企业，曾为包括瑞恩钻饰、中国工艺、ZA、卡诺娇、玫而美在内多家知名品牌服务过。</dd>
      </dl>
      <dl class="you02">
        <dt><img src="/static/skin/images/you02.png"></dt>
        <dd>从设计源头到出厂安装，公司实行全程质量跟踪记录，专柜的生产流程配有质量跟踪单，保证每个环节能严格把关，按时按质安装到位，保障品牌连锁店及时开业。近期成立了服装展柜研发小组。</dd>
      </dl>
      <dl class="you03">
        <dt><img src="/static/skin/images/you03.png"></dt>
        <dd>从原材料采购到生产工序及产品包装，经层层优化，保证质量的同时，成本降到极致，其中材料采购成本降10%，人工节省20%，材料耗损降低10%，包装节省30%。</dd>
      </dl>
      <dl class="you04">
        <dt><img src="/static/skin/images/you04.png"></dt>
        <dd>7*24小时物流配送、安装，北京、上海、成都、华南地区安装直接覆盖，服务有口皆碑专业的售后服务团队，贴心服务，定期回访跟进展示状况，为你解决一切问题。</dd>
      </dl>
    </div>
  </div>
</div>
<div class="tong2-box">
  <div class="tong2">
    <div class="t2"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=12345678&amp;site=qq&amp;menu=yes"></a> </div>
  </div>
</div>
<div class="anli">
  <h2></h2>
  <ul>
    <li><a href="/static/a/case/c2/62.html" title="阿联酋皇宫酒店"><img src="/static/uploads/160919/1-160919144031S7.jpg"  alt="阿联酋皇宫酒店" title="阿联酋皇宫酒店"/static/><span>阿联酋皇宫酒店</span></a></li>
<li><a href="/static/a/case/c2/61.html" title="澳门Wynn"><img src="/static/uploads/allimg/160919/1-160919143Q30-L.jpg"  alt="澳门Wynn" title="澳门Wynn"/static/><span>澳门Wynn</span></a></li>
<li><a href="/static/a/case/c2/60.html" title="谢赫阿布扎比清真寺"><img src="/static/uploads/allimg/160919/1-160919143I60-L.jpg"  alt="谢赫阿布扎比清真寺" title="谢赫阿布扎比清真寺"/static/><span>谢赫阿布扎比清真寺</span></a></li>
<li><a href="/static/a/case/c1/45.html" title="碧水庄园：3.2万两居"><img src="/static/uploads/allimg/160521/1-160521135S70-L.jpg"  alt="碧水庄园：3.2万两居" title="碧水庄园：3.2万两居"/static/><span>碧水庄园：3.2万两居</span></a></li>
<li><a href="/static/a/case/c1/44.html" title="本案设计师为配合宽敞视"><img src="/static/uploads/allimg/160521/1-160521135K10-L.jpg"  alt="本案设计师为配合宽敞视" title="本案设计师为配合宽敞视"/static/><span>本案设计师为配合宽敞视</span></a></li>

    <li><a href="/static/a/case/"><img src="/static/skin/images/anli06.png"></a></li>
  </ul>
</div>
<script>
	n=0;
	$(".anli ul li span").hide();
	$(".anli ul li").mouseenter(function(){
		n=$(this).index()
		$(".anli ul li span").eq(n).show();
		
		});
	 $(".anli ul li").mouseleave(function(){
		 n=$(this).index()
		 $(".anli ul li span").eq(n).hide();
		 })	
	
</script>
<div class="abo-box">
  <h2></h2>
  <div class="abo">
    <div class="abo-tu"><a href="/static/a/guanyuwomen/"><img src="/static/skin/images/abo.png"></a></div>
    <div class="m-wz">
      <h3><a href="/static/a/guanyuwomen/qywh/">广州某某装饰工程有限公司<em>展柜定制首选品牌</em></a></h3>
      <p> 某某建材集团创立于1986年，1991年在东莞市投资建厂，经过二十多年的发展，已发展成为占地120万平方米、员工近4000名，下设东莞、福建、天津等几大生产加工基地；立足中高端工程市场，具备矿山自主运作和独立产品研发能力；产品远销世界各地的知名石材企业。 某某建材先后引进了各类先进设备500多台/套，已建成国内独具规模的装饰石材生产线26条；拥有电脑加工中心，电脑水刀切割机，全自动连续抛光线等目前世界上最精尖的加工设备，形成了配......<a href="/static/a/guanyuwomen/" >【查看详情】</a></p>
    </div>
  </div>
</div>
<div class="zixun">
  <div class="zi-l">
    <h2> <span class="more1"><a href="/static/a/xinwenzixun/gongsixinwen/">MORE+</a></span> <a href="/static/a/xinwenzixun/gongsixinwen/">公司新闻<em>/ News</em></a> </h2>
    <div class="zxc">
      <p><a href="/static/a/xinwenzixun/gongsixinwen/"><img src="/static/skin/images/zi01.png"></a></p>
      <ul class="lst4">
        <li><a href="/static/a/xinwenzixun/gongsixinwen/25.html" title="木材变形需要知道的几个要素">木材变形需要知道的几个要素</a></li>
<li><a href="/static/a/xinwenzixun/gongsixinwen/24.html" title="超凡装饰教您卫生间如何选择地砖">超凡装饰教您卫生间如何选择地砖</a></li>
<li><a href="/static/a/xinwenzixun/gongsixinwen/23.html" title="教您挑选瓷砖应该注意的东西">教您挑选瓷砖应该注意的东西</a></li>
<li><a href="/static/a/xinwenzixun/gongsixinwen/22.html" title="设计师眼中的榻榻米家居生活">设计师眼中的榻榻米家居生活</a></li>

      </ul>
    </div>
  </div>
  <div class="zi-l">
    <h2> <span class="more1"><a href="/static/a/xinwenzixun/xingyexinwen/">MORE+</a></span> <a href="/static/a/xinwenzixun/xingyexinwen/">行业新闻<em>/ News</em></a> </h2>
    <div class="zxc">
      <p><a href=""><img src="/static/skin/images/zi01.png"></a></p>
      <ul class="lst4">
        <li><a href="/static/a/xinwenzixun/xingyexinwen/30.html" title="郑州某某装饰设计有限公司2014春季拓展">郑州某某装饰设计有限公司2014春季拓展</a></li>
<li><a href="/static/a/xinwenzixun/xingyexinwen/29.html" title="一分耕耘一分收获">一分耕耘一分收获</a></li>
<li><a href="/static/a/xinwenzixun/xingyexinwen/28.html" title="超凡装饰教您选购插座时注意事项">超凡装饰教您选购插座时注意事项</a></li>
<li><a href="/static/a/xinwenzixun/xingyexinwen/27.html" title="郑州超凡装饰畅谈未来家居装修标配和标">郑州超凡装饰畅谈未来家居装修标配和标</a></li>

      </ul>
    </div>
  </div>
  <div class="wend">
    <h2> <span class="more1"><a href="/static/a/xinwenzixun/meitibaodao/">MORE+</a></span> <a href="/static/a/xinwenzixun/meitibaodao/"> 媒体报道<em>/ FAQ</em></a> </h2>
    <div class="wen"> <dl>
        <dt><a href="/static/a/xinwenzixun/meitibaodao/38.html" title="房地产危机再成热点 需警">房地产危机再成热点 需警</a></dt>
        <dd>●对于中国而言，无论是从经济规模上，还是国土面积上，都是一个大型经济体，并且由于历史上行政计划的延续，事实上中国不同区域的房地产市场的联...</dd>
      </dl>
<dl>
        <dt><a href="/static/a/xinwenzixun/meitibaodao/37.html" title="年轻人别再贷款买房？太">年轻人别再贷款买房？太</a></dt>
        <dd>最近有篇文章特别的火，它的标题是：一个房地产开发商的建议：年轻人不要再贷款买房了！ 这个标题大致一看，应该是搏眼球，抓住两个点：开发商都叫...</dd>
      </dl>
<dl>
        <dt><a href="/static/a/xinwenzixun/meitibaodao/36.html" title="客厅经济将成下一个互联">客厅经济将成下一个互联</a></dt>
        <dd>继PC互联网和移动互联网之后，智慧生活撬动的客厅新经济被各方看好。IPTV老树开新花，三大电信运营商纷纷押注4K视频。固网宽带市场重划版图，中国广...</dd>
      </dl>
 </div>
  </div>
</div>
<div class="yq-box">
  <div class="yq">
    <div class="yq-top"> <span><a href="">申请友情链接&gt;&gt;</a></span>
      <h3><a href=""><img src="/static/skin/images/yq_bt.gif">友情链接</a></h3>
    </div>
    <div class="yq-con"> <a href='http://www.baidu.com/' target='_blank'>百度一下</a> <a href='http://www.taobao.com/' target='_blank'>淘宝</a>  </div>
  </div>
</div>
<div class="foot-box">
  <div class="footer">
    <div class="f-top">
      <div class="f-f">
        <h3><span><a href="/static/a/lianxiwomen/index.html">联系我们//</a></span><em>Contact  Us</em></h3>
        <p>资询热线:</p>
        <p class="p1">029-83611768</p>
      </div>
      <div class="f-f">
        <h3><span><a href="/static/a/cpzx/">产品中心//</a></span><em>Products</em></h3>
        <ul class="fen">
          
          <li><a href="/static/a/cpzx/cp1/">产品分类一</a></li>
          
          <li><a href="/static/a/cpzx/cp2/">产品分类二</a></li>
          
          <li><a href="/static/a/cpzx/cp3/">产品分类三</a></li>
          
          <li><a href="/static/a/cpzx/cp4/">产品分类四</a></li>
          
        </ul>
      </div>
      <div class="f-f">
        <h3><span><a href="/static/a/guanyuwomen/">关于我们//</a><em>About Us</em></span></h3>
        <ul>
          
          <li><a href="/static/a/guanyuwomen/gongsijianjie/">公司简介</a></li>
          
          <li><a href="/static/a/guanyuwomen/qywh/">企业文化</a></li>
          
          <li><a href="/static/a/guanyuwomen/hzhb/">合作伙伴</a></li>
          
          <li><a href="/static/a/guanyuwomen/gsry/">公司荣誉</a></li>
          
        </ul>
      </div>
      <div class="f-f">
        <h3><span><a href="/static/a/xinwenzixun/">新闻资讯//</a></span><em>News</em></h3>
        <ul>
          
          <li><a href="/static/a/xinwenzixun/gongsixinwen/">公司新闻</a></li>
          
          <li><a href="/static/a/xinwenzixun/xingyexinwen/">行业新闻</a></li>
          
          <li><a href="/static/a/xinwenzixun/meitibaodao/">媒体报道</a></li>
          
        </ul>
      </div>
      <div class="f-f1">
        <p><img src="/static/skin/images/erweima.png"><img src="/static/skin/images/erweima.png"></p>
      </div>
    </div>
    <div class="f-con">
      <div class="f-img"><a href=""><img src="/static/skin/images/di-logo.png"></a></div>
      <div class="f-p">
        <p>广州某某装饰工程有限公司    专注展柜设计制作一条龙！</p>
        <p>电话：020-66889888     吴总：13976789999    小稍：13998987878</p>
        <p>QQ：12345678    邮箱：<a class="__cf_email__" href="/static/cdn-cgi/l/email-protection" data-cfemail="ee8f8a838780ae9f9fc08d8183">[email protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></p>
        <p>地址：广东省广州市灞桥区新筑街办    备案号：粤ICP备32659568号</p>
        <p>技术支持：<a href="/static/" >网络设计</a></p>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript"  src="https://idm-su.baidu.com/su.js"></script> -->
</body> 
</html>
